html, body {
  margin: 0;
  padding: 0;
}

span {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}


.first {
  margin-left: 30px;
}

.second {
  position: absolute;
  right: 30px;
}